{
    "presets": [

        ["@babel/preset-env", {
            "targets": {
                "chrome": "52",
                "edge": "17",
                "firefox": "60",
                "safari": "11.1",
                "ie": "11"
            },
            "modules": false,
            "useBuiltIns": "usage",
            "corejs": 3,
            "debug": false
        }]
    ]
}