<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>首页</title>
</head>

<body>
  <div class="container">

    <ul id="nav_bar">
      <div>
        <img src="../img/logo.png" alt="" id="logo_file">
      </div>
      <li>首页</li>
    </ul>

    <div id="content_box">
      <div class="link_box">
        <div class="title-text" id="exportJs"></div>
        <a href="./index.html" role="button">back</a>
      </div>
    </div>

  </div>
</body>

</html>

</html>