<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=htmlWebpackPlugin.options.title%></title>
</head>

<body>
    <div id="nav_bar">
        <img alt="logo" id="logo">
        <div id="btnLineDiv">
            <a href="demo.html">demo</a>
            <a href="./example.html">example</a>
            <a href="./test.html">test</a>
        </div>
    </div>

    <div>
        <input type="text" id="name" placeholder="请输入您的年龄">
        <input type="text" id="age" placeholder="请输入您的姓名">
    </div>
</body>

</html>