<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>首页</title>
</head>

<body>
  <div class="container">
    <h1>导航</h1>
    <a class="btn btn-primary btn-middle" href="./musicPlay.html" role="button">音乐播放器</a>
    <a class="btn btn-primary btn-middle" href="./subject.html" role="button">练习题</a>
    <a class="btn btn-primary btn-middle" href="./deepUtil.html" role="button">test</a>
  </div>
  </div>
</body>

</html>