<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>首页</title>
</head>

<body>
  <div class="container">

    <ul id="nav_bar">
      <div>
        <img src="../img/logo.png" alt="" id="logo_file">
      </div>
      <li>首页</li>
    </ul>

    <div id="content_box">
      <div class="link_box">
        <span> 基于webpack搭建的简易前端环境，内置jQuery，适合小型快速项目开发。</span>
        <ul>
          <li>src/viwe下的每个html文件对应、src/script下的每个js文件、src/style下的每个样式文件 （文件名必须一致）</li>
        </ul>
        <div>
          <a href="./demo.html">demo</a>
        </div>
      </div>
    </div>


  </div>
</body>

</html>