<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>音乐播放器</title>
</head>

<body>
    <div class="topNav">音乐列表</div>
    <ul class="musicList">
    </ul>
    <div class="content">
        <div class="bottomControlBox">
            <div class="bottomPlay"></div>
        </div>
        <span class="timeLength">00:00/00:00</span>
        <div class="progressBox">
            <div class="progressBg">
                <div class="progress"></div>
                <div class="progressPoint"></div>
            </div>
        </div>
    </div>
    <audio></audio>
</body>

</html>