$theme_color1:#0DB0FF;

body {
    font-size: 14px;
    background-color: #f7f7ff;

}

#nav_bar {
    background-color: #fff;
    display: flex;
    padding: 20px;

    #logo {
        width: 50px;
        margin-right: 10em;
    }
}

#btnLineDiv {
    a {
        display: inline-block;
        width: 100px;
        font-size: 20px;
        text-align: center;
        color: #fff;
        background-color: $theme_color1;
        line-height: 48px;
        border-radius: 4px;
        text-decoration: none;
    }
}